terraform/orchestration/state_machine_definition.json
{
  "Comment": "ETL and ML Pipeline: Cleans data using Glue, then trains a model using SageMaker.",
  "StartAt": "StartGlueETL",
  "States": {
    "StartGlueETL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "your-glue-etl-job-name",
        "Arguments": {
          "--source_s3_path": "s3://my-raw-data-bucket/input/",
          "--target_s3_path.$": "$.target_s3_path"
        }
      },
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "ETLFailed"
        }
      ],
      "Next": "StartSageMakerTraining"
    },
    "StartSageMakerTraining": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "$$.Execution.Name",
        "AlgorithmSpecification": {
          "AlgorithmName": "arn:aws:sagemaker:us-east-1:123456789012:algorithm/xgboost-algorithm-v1",
          "TrainingInputMode": "File"
        },
        "RoleArn": "arn:aws:iam::123456789012:role/SageMaker-Execution-Role",
        "InputDataConfig": [
          {
            "ChannelName": "training",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://my-processed-data-bucket/training-data/",
                "S3DataDistributionType": "FullyReplicated"
              }
            },
            "ContentType": "text/csv"
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "s3://my-model-output-bucket/models/"
        },
        "ResourceConfig": {
          "InstanceCount": 1,
          "InstanceType": "ml.m5.large",
          "VolumeSizeInGB": 10
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 3600
        }
      },
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "TrainingFailed"
        }
      ],
      "End": true
    },
    "ETLFailed": {
      "Type": "Fail",
      "Cause": "Glue ETL Job failed",
      "Error": "ETLJobError"
    },
    "TrainingFailed": {
      "Type": "Fail",
      "Cause": "SageMaker Training Job failed",
      "Error": "TrainingJobError"
    }
  }
}